<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

</head>
<body>
    <div class="text">
    <h1 class="heading">Welcome To Express Pizza!</h1>
    
<section>
    <h2>Specialty Pizzas</h2>
<ul>

<li><a href="/Hawaiian?name=Hawaiian&price=15">Hawaiian</a></li>
<li><a href="/Meat_Lovers?name=Meat+Lovers&price=15">Meat-Lovers</a></li>
<li><a href="/Veggie_Deluxe?name=Veggie+Deluxe&price=13">Veggie Deluxe</a></li>
<li><a href="/BBQ_Chicken?name=BBQ+Chicken&price=16">BBQ Chicken</a></li>
<li><a href="/Pizza_Blanca?name=Pizza+Blanca&price=10">Pizza Blanca</a></li>
</ul>
</section>

<section>
    <h2>Build Your Own</h2>
    <a href="build_your_own">Build Your Own</a>
</section>

<section>
    <h2>Leave A Review</h2>
    <a href="review">Click Here To Leave A Revivew</a>
</section><br>
</div>

<div class="pizza">

<img src="https://images.unsplash.com/photo-1581873372796-635b67ca2008?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" alt="...">
</div>
</body>
</html>