<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave a Review</title>
</head>
<body>
    <h1>Leave A Review!!</h1>

    <form action="/thankYou" method="POST">
    <label>Your Name</label><input type="text" name="name">
    <br>
    <h3>Comment</h3>
    <textarea placeholder="Please leave a review" name="comment" rows="4" cols="50"></textarea>
    <br>
    <h3>Rating</h3>
    <input type="radio" name="rating" id="choice1" value="5">
    <label for="choice1">5(best)</label>
    <input type="radio" name="rating" id="choice2" value="4">
    <label for="choice2">4</label>
    <input type="radio" name="rating" id="choice3" value="3">
    <label for="choice3">3</label>
    <input type="radio" name="rating" id="choice4" value="2">
    <label for="choice4">2</label>
    <input type="radio" name="rating" id="choice5" value="1">
    <label for="choice5">1(worst)</label><br>







    <button type="submit">Submit</button>
    <a href="/">Nevermind</a>
    </form>
</body>
</html>